.sales-report {
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.sales-report table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.sales-report th, .sales-report td {
    padding: 2px;
    text-align: center;
}

.sales-report td {
    border: 1px solid #e1e1e1;
    /* white-space: nowrap;        
    overflow: hidden;          
    text-overflow: ellipsis;   
    padding: 0 5px !important; */
    text-overflow: ellipsis; 
    overflow: hidden;    
    padding: 0 2.5px !important; 

}

.sales-report th {
    background-color: #004b87;
    color: white;
    font-weight: bold;
}

.bg-light-green{
    background-color: #d4edda !important; 
    color: #155724 !important; 
}

.none {
    background-color: white !important;
    border: none !important;
    color:black !important;
}

.bg-light-blue{
    background-color: #d9eaf9 !important;
    color: black !important;
}

.underline {
    position: relative; 
}
    
.underline::after {
    content: ""; 
    position: absolute;
    left: 4px;
    /* transform: translateX(-50%); */
    bottom: 0;
    height: 1px; 
    width: 95%;
    background: black; 
}